* {
    margin: 0;
    padding: 0;
}

img {
    height: 300px;
    width: 500px;
    border-radius: 30px;
}

.header {
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.box {
    display: inline-block;
    padding: 5px;
    margin: 40px;
    margin-top: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.top-content {
    padding: 40px;
    font-family: cursive;
    color: orange;
}

.content {
    position: absolute;
    top: 70px;
    left: 30px;
    text-align: center;
    height: 250px;
    width: 450px;
    padding: 30px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.diet {
    filter: saturate(10%);
    transition: all 0.3s;
}

.diet:hover {
    transition: all 1s;
    transform: scale(0.98);
    filter: saturate(100%);
    box-shadow: 0px 0px 80px 1px rgba(0, 255, 117, 0.30);
}

.diet:hover .content {
    opacity: 1;
}

.text {
    position: absolute;
    padding: 20px;
    border-style: solid;
    border-radius: 20px;
    top: -120px;
    left: 35%;
    display: flex;
    align-items: center;
    border-color: black;
    text-decoration: none;
    color: #fff;
    background-color: orange;
}

/*Diet section */
.top {
    width: 100%;
    height: 100%;
    background-color: #FF8C00;
    position: fixed;
}

.top-content {
    text-align: center;
    padding: 30px;
    font-size: large;
    font-style: italic;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.row .col-1 {
    width: 40%;
    height: 85%;
    background-color: orange;
    border-radius: 40px;
    text-align: center;
}

.row .col-2 {
    width: 40%;
    height: 85%;
    background-color: black;
    border-radius: 40px;
    text-align: center;
}

.btn {
    position: absolute;
    padding: 20px;
    border-style: solid;
    border-radius: 20px;
    top: 200px;
    right: 160px;
    border-color: black;
    text-decoration: none;
    color: black;
    background-color: orange;
}

/* slder */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap");

:root {
    --duration: 0.6s;
    --ease: cubic-bezier(0.5, 0, 0.5, 1);
    --fast-ease-out: cubic-bezier(0.4, 0, 0.9, 0.1);
    --fast-ease-in: cubic-bezier(0.1, 0.9, 0.3, 1);
    --fade-ease: cubic-bezier(0.7, 0, 0.1, 1);
    --tan-dark: #1B3358;
    --tan: #e9cfb9;
    --orange: black /* Change this to the shade of orange you prefer */
    --orange-dark: darkorange;
    font-family: "Roboto Condensed", sans-serif;
}

*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.food-selector {
    display: grid;
    grid-template: 1/1;
    justify-content: center;
    align-items: center;
    height: 90%;
}

/* ---------------------------------- */
.food {
    height: 100%;
    grid-area: 1/1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% auto 1fr auto;
    padding: 1rem;
}

.food > .foodbox {
    grid-column: 1/-1;
}

.food > .food-header {
    grid-column: 1/-1;
}

.food > .food-price {
    grid-column: 1/-1;
}

.food > .food-rating {
    grid-column: 1/2;
}

.food-header {
    text-align: center;
}

.food-subheading {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0.5rem;
}

.food-heading {
    margin: 0;
    font-weight: 300;
    font-size: 1.25rem;
    color: #fedfe4;
    text-align: center;
}

.food-header-1 {
    position: absolute;
    text-align: center;
    top: 70%;
    left: -40px;
    padding: 20px;
    border-color: black;
    border-style: dotted;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 300px;
    min-height: 100px;
}

.food-header-2 {
    position: absolute;
    text-align: center;
    top: 70%;
    left: -40px;
    padding: 20px;
    border-color: orange;
    border-style: dotted;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 300px;
    min-height: 150px;
}

.food-subheading {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    margin-bottom: 0.5rem;
    font-size: large;
    font-style: italic;
}

.food-subheading-2 {
    display: inline-block;
    text-transform: uppercase;
    color: orange;
    margin-bottom: 0.5rem;
    font-size: large;
    font-style: italic;
}

.food-heading {
    margin: 0;
    font-weight: 300;
    font-size: 1.25rem;
    color: #fedfe4;
}

/* ---------------------------------- */
.food-selector {
    perspective: 80vmin;
}

.food {
    transform-style: preserve-3d;
}

.foodbox {
    --width: 26vmin;
    /* Increase the width of the box */
    --height: 25vmin;
    /* Increase the height of the box */
    --depth: 5vmin;
    transform-style: preserve-3d;
    width: var(--width);
    height: var(--height);
    margin: 13vmin auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmin;
}

.side {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    width: var(--width);
    height: var(--height);
    box-sizing: border-box;
    background: var(--debug);
    border: solid 2px var(--color-dark);
    background: var(--color);
    background: linear-gradient(to bottom, var(--color-dark), var(--color));
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) var(--rotation) translateZ(calc(var(--z) / 2));
}

.side.right:before,
.side.left:before,
.side.back:before,
.side .lid:before {
    --color: var(--tan);
    --color-dark: var(--tan-dark);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-2px);
    border: solid 2px var(--color-dark);
    background-image: linear-gradient(to right, var(--color-dark), var(--color));
}

.side .lid:before {
    --color: var(--tan);
    --color-dark: var(--tan-dark);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-2px);
    border: solid var(--color-dark);
    background-image: linear-gradient(to right, var(--color-dark), var(--color));
}

.side.right:before {
    background-image: linear-gradient(to left, var(--color-dark), var(--color));
}

.side.back:before {
    background-image: linear-gradient(to bottom, var(--color-dark), var(--color));
}

.side.bottom {
    background-image: radial-gradient(var(--color-dark) 30%, var(--color));
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1), inset 0 0 2vmin var(--color-dark);
}

.side .lid:before {
    background-image: linear-gradient(to bottom, var(--color-dark), var(--color));
}

.top,
.bottom {
    --debug: red;
    --z: var(--depth);
}

.right,
.left {
    --debug: green;
    width: var(--depth);
    --z: var(--width);
}

.front,
.back {
    --debug: blue;
    width: var(--width);
    height: var(--depth);
    --z: var(--height);
}

.top {
    --rotation: rotateY(0deg);
}

.bottom {
    --rotation: rotateY(180deg);
}

.right {
    --rotation: rotateY(90deg);
}

.left {
    --rotation: rotateY(-90deg);
}

.back {
    --rotation: rotateX(90deg);
}

.front {
    --rotation: rotateX(-90deg);
}

.top,
.lid,
.right,
.left,
.front {
    --color: var(--orange);
    --color-dark: var(--orange-dark);
}

.bottom,
.back {
    --color: var(--tan);
    --color-dark: var(--tan-dark);
}

/* ---------------------------------- */
.foodbox .top {
    background: none;
}

.foodbox .lid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    background: linear-gradient(to top, var(--color-dark), var(--color) 50%);
    width: 100%;
    height: 100%;
    transition: transform var(--duration) var(--ease);
    transform-style: preserve-3d;
    transform-origin: top center;
}

[data-active] .foodbox .lid {
    transform: rotateX(90deg);
}

/* ---------------------------------- */
.food {
    width: 40vmin;
    pointer-events: none;
}

.food:not([data-active]) * {
    visibility: hidden;
}

.food [data-animate],
.food [data-animate] * {
    visibility: visible !important;
}

.food [data-animate] {
    transform: translateX(-100%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: var(--duration);
    transition-timing-function: var(--fast-ease-out), var(--fade-ease);
}

.food .foodbox {
    cursor: pointer;
    pointer-events: auto;
    transform: rotateX(5deg) translateX(-120%);
    transition: transform var(--duration) var(--ease) !important;
    opacity: 1;
}

[data-active] .food {
    z-index: 4;
}

[data-active] .food > * {
    pointer-events: auto;
}

[data-active]:before {
    display: block;
}

[data-active] .food [data-animate] {
    transform: none;
    opacity: 1;
    transition-delay: calc(var(--duration) / 2);
    transition-duration: var(--duration);
    transition-timing-function: var(--fast-ease-in), var(--fade-ease);
}

[data-active] .food .foodbox {
    transform: rotateX(5deg);
}

[data-active] ~ .food [data-animate] {
    transform: translateX(100%);
}

[data-active] ~ .food .foodbox {
    transform: rotateX(5deg) translateX(120%);
}

[data-active] + .food {
    z-index: 3;
}

/* timer */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    color: white;
    overflow: auto;
    background-image: url(bgnight1.jpg);
    background-position: center;
    background-size: cover;
}

.timer-h1 {
    position: absolute;
    top: 0px;
    left: 40%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    padding: 30px;
    text-align: center;
}

.start-time {
    position: absolute;
    top: 100px;
    text-align: center;
    font-family: cursive;
    position: relative;
}

.wakeup-time {
    position: absolute;
    top: 230px;
    text-align: center;
    font-family: cursive;
    position: relative;
}

.timer-btn {
    position: absolute;
    top: 100px;
    left: 44%;
    padding: 15px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    color: black;
    font-size: 16px;
    background-color: orange;
}

label {
    padding: 9px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #FF8C00;
}

input {
    width: 90px;
    height: 40px;
    font-size: 20px;
}

.input {
    width: 90px;
    height: 40px;
    font-size: 20px;
}

.timer-btn:hover {
    transition: all 1s;
    transform: scale(0.98);
    box-shadow: 0px 0px 80px 1px rgba(0, 255, 117, 0.30);
    cursor: pointer;
}

.final-content {
    position: absolute;
    top: 450px;
    left: 30%;
    font-size: 30px;
    padding: 30px;
    font-style: italic;
}
